@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-color: #31154e;
  --secondary-color: #a14cff;
  --tertiary-color: #0169ef;
  --primary-text-color: #384250;
  --secondary-text-color: #fff;
  --success-color: #038743;
  --error-color: #e12f2f;
  --disabled-color: #858585;
}

* {
  font-family: 'Bai Jamjuree', sans-serif !important;
}

h1,
h2 {
  color: var(--primary-color, #31154e);
  font-size: 28px;
}
h3,
h4,
h5,
h6 {
  color: var(--primary-color, #31154e);
}

.sidebar {
  background-color: var(--primary-color, #31154e);
  font-size: 18px;
  color: #fff;
  height: 100%;
}

.page_title {
  margin-top: 16px;
  color: var(--primary-color, #31154e);
  font-size: 24px;
  line-height: 125%;
  font-weight: 700;
  font-style: normal;
}

.btn {
  font-family: var(--font-family, 'Bai Jamjuree'), sans-serif;
  font-size: 16px;
  padding: 10px 16px;
  background-color: var(--secondary-color, #a14cff);
  color: var(--secondary-text-color, white);
  border-color: var(--secondary-color, #a14cff) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 24px;
}

#root {
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--primary-color, #31154e);
  font-family: var(--font-family, 'Bai Jamjuree'), sans-serif;
  background-color: white;
}

div[role='listbox'] {
  position: absolute;
  margin-top: 4.5rem;
  width: inherit;
}

[data-group-item] > button {
  background-color: transparent;
}

.wrapper {
  background-color: 'white';
  height: '100%';
  width: '100%';
}

.logo {
  height: 5rem;
  margin-left: -1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.select {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color) !important;
  color: var(--secondary-text-color);
}

.select {
  background-color: var(--secondary-color, #a14cff);
  border-color: var(--secondary-color, #a14cff) !important;
  color: var(--secondary-text-color, white);
  font-family: var(--font-family, 'Bai Jamjuree'), sans-serif;
}

.select-item:hover {
  background-color: rgba(161, 76, 255, 0.5);
}

.end {
  float: right;
}
