#root {
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: white; */
}

div[role='listbox'] {
  position: absolute;
  margin-top: 4.5rem;
  width: inherit;
}

/* [data-group-item] > button {
  background-color: transparent;
} */

.wrapper {
  /* background-color: 'white'; */
  height: '100%';
  width: '100%';
}

.logo {
  height: 5rem;
  margin-left: -1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.select {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color) !important;
  color: var(--secondary-text-color);
}

.select-item {
  background-color: rgb(36, 36, 36);
}

.select-item:hover {
  background-color: rgb(36, 36, 36, 0.5);
}

.end {
  float: right;
}
